<form class='user-form' #userForm='ngForm' (submit)='onSubmit();userForm.reset()'>
	<label for='password'>Password<span class="red">*</span></label>
	<input type='password' class='form-control' id='password' required [(ngModel)]='model.password' name='password'
		(input)="onInputChange()" #password='ngModel'>
	<div [hidden]='password.valid || password.pristine' class='red'>
		Password is required
	</div>
	<div class='strength-validation' [ngClass]='passwordStrengthClass'>
		<div class='strength-validation_item'>easy</div>
		<div class='strength-validation_item'>medium</div>
		<div class='strength-validation_item'>strong</div>
	</div>
</form>